/* CONTENIDO */

@media (max-width: 1200px) {
    .video {
        grid-column-start: span 6;
        height: 240px;
    }
}

@media (max-width: 800px) {
    .video {
        grid-column-start: span 12;
    }
}

@media (max-width: 400px) {
    header button {
        width: 100%;
    }
}