/* HEADER */

@media (max-width: 860px) {
    .header1 img {
        width: 230%;
    }

    .text-nosotros h2 {
        font-size: 8vw;
    }
}


/* BUSCADOR */

@media (max-width: 490px) {
    .wrapper {
        padding: 0 20px;
    }
}