/* RESPONSIVE SIDEBAR */

@media (max-width: 860px) {
    .sidebar {
        height: auto;
        width: 70px;
        left: 0;
        margin: 100px 0;
    }
    .sidebar header, #btn, #cancel {
        display: none;
    }
    .sidebar a span {
        position: absolute;
        margin-left: 23px;
        opacity: 0;
        visibility: hidden;
    }
    .sidebar a i {
        margin-left: -10px;
    }
    .sidebar a:hover {
        width: 200px;
        background: inherit;
    }
    .sidebar a:hover span {
        opacity: 1;
        visibility: visible;
        transition: all .5s ease;
    }
}


/* INFO DE CONTACTO */

@media (max-width: 860px) {
    .contact-info {
        flex-direction: column;
    }
    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}


/* FORMULARIO DE CONTACTO */

@media (max-width: 860px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
}


/* FOOTER */

@media (min-width: 600px) {
    .footer-right > * {
        flex: 1;
    }

    .footer-left {
        flex: 1 0px;
    }

    .footer-right {
        flex: 2 0px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 15px;
    }
}