/* HEADER */

@media (max-width: 860px) {
    .header1 img {
        width: 230%;
    }

    .text-nosotros h2 {
        font-size: 8vw;
    }
}


/* INFO DE CONTACTO */

@media (max-width: 860px) {
    .contact-info {
        flex-direction: column;
    }
    .card {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }
}


/* FORMULARIO DE CONTACTO */

@media (max-width: 860px) {
    .contact-box {
        grid-template-columns: 1fr;
    }
    .left {
        height: 200px;
    }
}


/* FOOTER */

@media (max-width: 991px) {
    footer {
        padding: 0 20px;
        text-align: center;
    }

    footer .container4 {
        flex-direction: column;
    }

    footer .container4 .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container4 .sec.aboutus img {
        margin-top: 20px;
    }

    footer .container4 .sec.aboutus,
    .acercade,
    .proyectos {
        width: 100%;
    }

    footer .container4 h2::before {
        display: none;
    }

    .footer {
        height: 80px;
    }

    .proyectos .info2 li {
        display: flex;
        justify-content: center;
    }
}