/* HEADER */

@media (max-width: 860px) {
    .header1 img {
        width: 230%;
    }

    .text-nosotros h2 {
        font-size: 8vw;
    }
}


/* BUSCADOR */

@media (max-width: 490px) {
    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 912px) {
    .portfolio-filter {
        display: none;
    }
}

@media (min-width: 913px) {
    .wrapper1 {
        display: none;
    }
}