/* HEADER */

@media (max-width: 860px) {
    .header1 img {
        width: 230%;
    }

    .text-nosotros h2 {
        font-size: 8vw;
    }
}


/* BUSCADOR */

@media (max-width: 490px) {
    .wrapper {
        padding: 0 20px;
    }
}

@media (max-width: 912px) {
    .portfolio-filter {
        display: none;
    }
}

@media (min-width: 913px) {
    .wrapper1 {
        display: none;
    }
}


/* LISTADO DE TIENDAS */

@media (max-width: 1098px) {
    .portfolio-content {
        display: flex;
        padding-left: 7%;
        padding-right: 7%;
        max-width: 1000px;
    }
}

@media (max-width: 998px) {
    .portfolio-content {
        display: flex;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 912px) {
    .portfolio-content {
        display: flex;
        padding-left: 20%;
        padding-right: 5%;
    }
}

@media (max-width: 880px) {
    .portfolio-content {
        display: flex;
        padding-left: 18%;
    }
}

@media (max-width: 855px) {
    .portfolio-content {
        display: flex;
        padding-left: 16%;
    }
}

@media (max-width: 800px) {
    .portfolio-content {
        display: flex;
        padding-left: 14%;
    }
}

@media (max-width: 785px) {
    .portfolio-content {
        display: flex;
        padding-left: 12%;
    }
}

@media (max-width: 760px) {
    .portfolio-content {
        display: flex;
        padding-left: 11%;
    }
}

@media (max-width: 725px) {
    .portfolio-content {
        display: flex;
        padding-left: 9%;
    }
}

@media (max-width: 695px) {
    .portfolio-content {
        display: flex;
        padding-left: 7%;
    }
}

@media (max-width: 670px) {
    .portfolio-content {
        display: flex;
        padding-left: 5%;
    }
}

@media (max-width: 612px) {
    .portfolio-content {
        display: flex;
        padding-left: 25%;
    }
}

@media (max-width: 525px) {
    .portfolio-content {
        display: flex;
        padding-left: 23%;
    }
}

@media (max-width: 490px) {
    .portfolio-content {
        display: flex;
        padding-left: 21%;
    }
}

@media (max-width: 455px) {
    .portfolio-content {
        display: flex;
        padding-left: 19%;
    }
}

@media (max-width: 425px) {
    .portfolio-content {
        display: flex;
        padding-left: 17%;
    }
}

@media (max-width: 405px) {
    .portfolio-content {
        display: flex;
        padding-left: 15%;
    }
}

@media (max-width: 380px) {
    .portfolio-content {
        display: flex;
        padding-left: 13%;
    }
}

@media (max-width: 365px) {
    .portfolio-content {
        display: flex;
        padding-left: 11%;
    }
}

@media (max-width: 350px) {
    .portfolio-content {
        display: flex;
        padding-left: 9%;
    }
}

@media (max-width: 335px) {
    .portfolio-content {
        display: flex;
        padding-left: 7%;
    }
}

@media (max-width: 320px) {
    .portfolio-content {
        display: flex;
        padding-left: 5%;
    }
}

@media (max-width: 300px) {
    .portfolio-content {
        display: flex;
        padding-left: 3%;
    }
}

@media (max-width: 285px) {
    .portfolio-content {
        display: flex;
        padding-left: 0%;
    }
}