/* RESPONSIVE INICIO */

@media (max-width: 990px) {
    .content1 {
        flex-direction: column;
    }

    .text-welcome {
        min-height: 10%;
    }

    .photo-logo {
        min-height: 100%;
    }
}

@media (max-width: 430px) {
    .text-welcome p {
        text-align: left;
    }
}

@media (min-width: 990px) {
    .separador1,
    .separador2 {
        display: none;
    }
}

@media (max-width: 500px) {
    .photo-logo img {
        width: auto;
    }

    .photo-logo p {
        color: #fff;
        text-align: center;
        font-size: 45px;
    }
}


/* POPUP VIDEO/TEASER */

@media (max-width: 991px) {
    .teaser video {
        max-width: 90%;
    }
}