@media (max-width: 820px) {
    .categorias {
        grid-template-columns: 1fr 1fr;
    }

    .categoria {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }

    .categoria svg {
        width: 30px;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@media (max-width: 500px) {
    .categorias {
        grid-template-columns: 1fr;
    }

    .titulo {
        padding-top: 80px;
    }
}