* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
    overflow-x: hidden;
    background-size: cover no-repeat;
    background-attachment: fixed;
    transition: 0.3s all ease;
}
body::-webkit-scrollbar{
    width: 13px;
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}
body::-webkit-scrollbar-thumb{
    background-color: #35a7f5;
    background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
    border-radius: 4px;
}

body.dark {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
}

/* SIDEBAR MENÚ */

.sidebar {
    position: fixed;
    left: -240px;
    width: 240px;
    height: 100%;
    background: #1b1b1b;
    z-index: 21;
    transition: all .5s ease;
}

.sidebar header {
    color: #fff;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    background-color: #141414;
    user-select: none;
}

.sidebar a {
    display: block;
    color: #fff;
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid #000;
    border-left: 5px solid transparent;
    transition: all .5s ease;
}

.sidebar a:hover {
    text-decoration: none;
    color: #f29100;
}

.sidebar a:hover, .sidebar a.active {
    border-left: 5px solid #f29100;
    color: #f29100;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: .5px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: fixed;
    cursor: pointer;
    background: #f29100;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 29px;
    border-radius: 5px;
    margin: 15px 30px;
    border: 1px solid #b36b00;
    z-index: 20;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}
#check:checked ~ .sidebar {
    left: 0;
}

.modon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.switch {
    background: #343D5B;
    font-size: 20px;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    transition: .1s all ease;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}

.switch.active {
    background: #f29100;
    color: #000;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

.likefb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


/* PRELOADER */

.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050713;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    width: 100%;
    z-index: 9999;
}

.loader {
    position: relative;
    width: 120px;
    height: 120px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%, 100% {
        transform: scale(0);
    }
}

.zonova {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1s;
}

@keyframes rotating {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(370deg);
    }
}

.zonova::before {
    content: url(../img/logo_preloader.svg);
    position: absolute;
    top: 80px;
    left: 85px;
    width: 60px;
    transform: rotate(135deg);
}


/* HEADER */

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "top__section"
    "content__section";
}

.top__section {
    grid-area: top__section;
    min-height: 370px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". header .";
    background: linear-gradient(rgba(23, 25, 29, 0.8), rgba(23, 25, 29, 0.8)), url(../img/back1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 2px 24px -2px rgba(53,167,245,1);
    -moz-box-shadow: 0px 2px 24px -2px rgba(53,167,245,1);
    box-shadow: 0px 2px 24px -2px rgba(53,167,245,1);
}

.wrapper .top__section h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
}

.wrapper .top__section h1 span {
    color: #f29100;
}

.wrapper .top__section p {
    font-size: 18px;
    color: #fff;
}

.wrapper .top__section button {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.wrapper .top__section button:hover {
    transform: scale(1.02);
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header p {
    max-width: 570px;
    margin-bottom: 30px;
}

header button {
    width: 271px;
    padding: 12px 0;
    background: #35a7f5;
    color: #000;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.content__section {
    grid-area: content__section;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". playlist__one ."
    ". playlist__two .";
    margin-bottom: 60px;
}

.playlist__one {
    grid-area: playlist__one;
}

.playlist__two {
    grid-area: playlist__two;
}

.playlist__title {
    margin: 40px 0 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s all ease;
}

body.dark .playlist__title {
    color: #fff;
}

.playlist__title span {
    color: #f29100;
}

.videos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.video {
    height: 180px;
    grid-column-start: span 3;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -5px rgba(0,0,0,0.75);
    transition: 0.3s all ease;
}

body.dark .video {
    -webkit-box-shadow: 0px 0px 13px -5px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 13px -5px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 13px -5px rgba(255,255,255,0.75);
}

.video:hover {
    transform: scale(1.02);
}

.video i {
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f4f4f4;
    opacity: 0.85;
    transition: all 0.3s ease 0s;
}

.video i:hover {
    opacity: 1;
}

.vbox-close {
    width: 30px;
}


/* FOOTER */

.footer {
    background-color: #030713;
    background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-v2.png");
    width: 100%;
    text-align: center;
    height: 80px;
    line-height: 80px;
    -webkit-box-shadow: 0px 2px 24px -2px rgba(53,167,245,1);
    -moz-box-shadow: 0px 2px 24px -2px rgba(53,167,245,1);
    box-shadow: 0px 2px 24px -2px rgba(53,167,245,1);
}

.footer h4 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
}

.footer span {
    color: #F29100;
}