* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    overflow-x: hidden;
    background: url(../img/background_home.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body::-webkit-scrollbar{
    width: 13px;
    background-color: #f4f4f4;
    background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
}
body::-webkit-scrollbar-thumb{
    background-color: #f29100;
    background-image: url("https://www.transparenttextures.com/patterns/french-stucco.png");
    border-radius: 4px;
}


/* SIDEBAR MENÚ */

.sidebar {
    position: fixed;
    left: -240px;
    width: 240px;
    height: 100%;
    z-index: 99999;
    background-color: #1b1b1b;
    background-image: url("https://www.transparenttextures.com/patterns/black-scales.png");
    transition: all .5s ease;
}

.sidebar header {
    color: #fff;
    font-size: 28px;
    line-height: 70px;
    text-align: center;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
    user-select: none;
}

.sidebar a {
    display: block;
    color: #fff;
    height: 65px;
    width: 100%;
    line-height: 65px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: 1px solid #000;
    border-left: 5px solid transparent;
    transition: all .5s ease;
}

.sidebar a:hover {
    text-decoration: none;
    color: #f29100;
}

.sidebar a:hover, .sidebar a.active {
    border-left: 5px solid #f29100;
    color: #f29100;
}

.sidebar a i {
    font-size: 23px;
    margin-right: 16px;
}

.sidebar a span {
    letter-spacing: .5px;
    text-transform: uppercase;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: fixed;
    cursor: pointer;
    background: #f29100;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 29px;
    border-radius: 5px;
    margin: 15px 30px;
    border: 1px solid #b36b00;
    z-index: 99;
    transition: all .5s ease;
}

label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}
#check:checked ~ .sidebar {
    left: 0;
}

.likefb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.content1 {
    display: flex;
    min-height: 100vh;
}


/* PRELOADER */

.loader-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #050713;
    background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png");
    width: 100%;
    z-index: 9999;
}

.loader {
    position: relative;
    width: 120px;
    height: 120px;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
}

.loader span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    transform: scale(0);
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(1.2);
    }
    80%, 100% {
        transform: scale(0);
    }
}

.zonova {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: rotating 2s linear infinite;
    animation-delay: -1s;
}

@keyframes rotating {
    0% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(370deg);
    }
}

.zonova::before {
    content: url(../img/logo_preloader.svg);
    position: absolute;
    top: 80px;
    left: 85px;
    width: 60px;
    transform: rotate(135deg);
}


/* TEXT & VIDEO */

.slider1 {
    display: flex;
    justify-content: center;
    margin-bottom: -52px;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    width: 80%;
    height: 30%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.slider {
    display: flex;
    align-items: center;
    color: rgb(134, 134, 134);
    padding: 10px;
}

.slider h3 {
    font-size: 24px;
    font-weight: 400;
    margin-right: 11px;
}
.slider h3 b {
    font-weight: 700;
}

.slider img {
    margin-right: 5px;
}
.slider h4 {
    font-size: 20px;
}
.slider i {
    margin-left: 25px;
    margin-right: 25px;
    color: #13093d;
    font-size: 25px;
}

.text-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.text-welcome h2 {
    color: #fff;
    font-size: 50px;
    margin-bottom: -10px;
}

.text-welcome p {
    color: #fff;
    font-size: 30px;
}

.text-welcome .botons {
    display: flex;
}

.text-welcome a {
    position: relative;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid #f29100;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 35px;
    margin: 7px;
    font-size: 30px;
    border-radius: 20px;
    transition: all .3s ease;
}

.text-welcome a:hover {
    background: #f29100;
}

.app1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app i {
    margin-left: 4px;
}

.app:hover {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
}

.teaser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.teaser.active {
    visibility: visible;
    opacity: 1;
}

.teaser video {
    position: relative;
    max-width: 900px;
    outline: none;
}

.close {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}
.close:hover {
    color: rgb(53, 167, 223);
    transition: all .3s ease;
}


/* LOGO */

.photo-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.photo-logo img {
    display: block;
    margin: auto;
    width: 440px;
}

.photo-logo p {
    color: #fff;
    text-align: center;
    font-size: 45px;
}

.separador1,
.separador2,
.separador3 {
    min-height: 10vh;
}