/* PRENDAS RELEVANTES */

@media (min-width: 1000px) {
    .title-shop {
        margin: 0 5rem;
    }

    .bg-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/* PORTAFOLIO */
@media screen and (max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }
    header .barra-busqueda {
        width: 100%;
    }
}