/* HEADER */

@media (max-width: 860px) {
    .header1 img {
        width: 200%;
        height: 13vh;
    }

    .text-nosotros h2 {
        font-size: 6vw;
    }
}

@media (max-width: 500px) {
    .text-nosotros h2 {
        font-size: 8vw;
    }

    .header1 img {
        height: 19vh;
    }
}

@media (min-width: 861px) {
    .text-nosotros h2 br {
        display: none;
    }
}

@media (min-width: 501px) {
    .br1 {
        display: none;
    }
}


/* HERO AREA */

@media (max-width: 991px) {
    .hero {
        flex-direction: column;
        padding: 35px;
    }

    .right {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .nombreshop h2 {
        font-size: 10vw;
        text-align: center;
    }
    .nombreshop p,
    .redes {
        text-align: center;
    }
    .redes {
        margin-top: 53px;
        margin-bottom: -25px;
    }
    .redes ul {
        display: flex;
        justify-content: center;
    }
    .redes a i {
        margin-right: 15px;
        margin-left: 15px;
    }
}


/* EN PROMOCIÓN */

@media (max-width: 900px) {
    .popup-card {
        flex-direction: column;
        width: 550px;
        height: auto;
    }

    .popup-card .product-img {
        z-index: 3;
        width: 100%;
        height: 350px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .popup-card .product-img img {
        left: initial;
        max-width: 70%;
    }

    .popup-card .info-pop {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .popup-card .info-pop h2 {
        margin: 20px 5px 5px 5px;
        font-size: 32px;
        line-height: 33px;
    }

    .popup-card .info-pop h2 span {
        font-size: 14px;
    }

    .popup-card .info-pop p {
        margin: 5px;
        font-size: 16px;
    }

    .popup-card .info-pop .price-pop {
        margin: 5px;
        font-size: 30px;
    }

    .popup-card .info-pop .add-shop-btn {
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 15px;
    }

    .popup-card .close-btn {
        z-index: 4;
        font-size: 28px;
        color: #fff;
    }
}


/* ANUNCIO */

@media (max-width: 864px) {
    .anuncio {
        display: none;
    }
}


/* PRENDAS RELEVANTES */

@media (min-width: 1000px) {
    .title-shop {
        margin: 0 5rem;
    }

    .bg-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/* PORTAFOLIO */
@media screen and (max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }
    header .barra-busqueda {
        width: 100%;
    }
}