/* HERO AREA */

@media (max-width: 991px) {
    .hero {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    .left {
        padding-left: 35px;
        padding-right: 35px;
    }

    .right {
        margin-top: -30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .nombreshop h2 {
        font-size: 8vw;
        text-align: center;
    }
    .nombreshop p,
    .redes {
        text-align: center;
    }
    .redes ul {
        display: flex;
        justify-content: center;
    }
    .redes a i {
        margin-right: 15px;
        margin-left: 15px;
    }
}


/* PRENDAS RELEVANTES */

@media (min-width: 1000px) {
    .title-shop {
        margin: 0 5rem;
    }

    .bg-grid {
        margin-left: auto;
        margin-right: auto;
    }
}


/* PORTAFOLIO */
@media screen and (max-width: 700px) {
    .grid .item {
        width: calc(50% - 20px);
    }
    header .barra-busqueda {
        width: 100%;
    }
}